<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/css/datatable.css"/>
    <link rel="stylesheet" href="/css/adduserdish.css"/>
    <link href="css/Cupcake-512.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"/>
    <title>User Dishes</title>
</head>
<body>
<nav>

    <a href="/index.html#">Главная</a>
    <a href="/index.html#about-us">О нас</a>
    <a href = "/rec.html">Рецепты</a>
    <a href="/search1">Поиск по ингредиентам</a>
    <a href="/index.html#contacts-section">Контакты</a>


    <ul>
        <li ><a href = "#" th:text = "${user}">Kvakusha</a>
            <ul>
                <li><a href = "/userDish">Мои рецепты</a></li>
                <li><a href = "/userRec">Добавить рецепт</a></li>
                <li><a href = "/sendMail">Задать вопрос</a></li>
                <li><a href = "/logout_test">Выйти </a></li>
            </ul>
        </li>
    </ul>


</nav>

<div class = "main">
    <div class = "main-content">
        <form class="form-container" enctype="multipart/form-data" th:action="@{/userRec}" method="post" th:object="${userDishes}">
            <p class="form-title"><h2>Добавьте собственный рецепт</h2></p>
            <p class="form-title">Название блюда: </p>
            <input type="text" class="form-field" required="true" id="dish_name" placeholder="Введите название блюда" th:field="*{name}" /><br />

            <p class="form-title">Детали: </p>
            <textarea type="text" class="form-field" required="true" id="dish_details" placeholder="Введите описание блюда" th:field="*{details}" ></textarea><br />

            <table>
                <tr><td>Выбрать изображение: </td><td><input type="file" name="file" /></td></tr>
            </table>

            <p class="form-title">Рецепт блюда: </p>
            <textarea type="text" class="form-field" required="true" id="coocking_receptie" placeholder="Введите рецепт приготовления блюда" th:field="*{cookingReceptie}" ></textarea><br />


            <div class="submit-container">
                <input class="submit-button" type="submit" value="Готово" />
            </div>
        </form>
    </div>
</div>
<footer>
    <p class = "footer-text"> © Cooking Mashine Corp © 2017 Odessa, Ukraine</p>
</footer>
</body>
</html>