<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="css/t1.css"/>
    <link rel="stylesheet" type="text/css" href="/css/datatable.css"/>
    <link href="css/Cupcake-512.ico" rel="shortcut icon" type="image/x-icon"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="utf8" src="/css/datatable.js"></script>

</head>


<body>
<nav>

    <a href="/index.html#">Главная</a>
    <a href="/index.html#about-us">О нас</a>
    <a href = "/rec.html">Рецепты</a>
    <a href="/search1">Поиск по ингредиентам</a>
    <a href="/index.html#contacts-section">Контакты</a>

    <ul>
        <li ><a href = "#" th:text = "${user}"> </a>
            <ul>
                <li><a href = "/userDish">Мои рецепты</a></li>
                <li><a href = "/userRec">Добавить рецепт</a></li>

                <li><a href = "/sendMail">Задать вопрос</a></li>
                <li><a href = "/logout_test">Выйти </a></li>
            </ul>
        </li>
    </ul>

</nav>
<div class = "main">
    <div class = "main-content">

<table id="example" class="display" cellspacing="0" width="100% " float="initial">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="element : ${table}">
        <td>
            <img  class="recPic" th:attr="src=${element.imgSrc}"/>
        </td>
        <td>

                <p>
                    <a class="recName" th:href="@{/dish/__${element.dishId}__}"> <text th:text="${element.dishName}"/></a>


                </p>

            <p id="desc"  class = "recDet" th:text="${element.dishDetails}"></p>


        </td>
    </tr>
    </tbody>
    <script  type="text/javascript" language="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            console.log("start getting");
            var x = document.getElementsByClassName("paginate_button ");
            console.log(x);
            console.log("element goooot");

            for (i = 0; i < x.length; i++) {
                console.log("in cirav");
                x[i].onclick = function () {
                    console.log("in func");
                    myFunction();
                };
            }});

        function myFunction() {
            window.scrollTo(0, 0);
        }

        /*]]>*/
    </script>
</table>
    </div>
</div>
<footer>
    <p class = "footer-text"> © Cooking Mashine Corp © 2017 Odessa, Ukraine</p>
</footer>
</body>

<script>
    $(document).ready(function() {
        console.log("started");
    });


</script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
<script>
    $('#myTable').DataTable( {
        select: true
    } );
</script>


</html>