<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/style_login.css" rel="stylesheet"/>
	<link href="css/Cupcake-512.ico" rel="shortcut icon" type="image/x-icon"/>
</head>

<body>

<div class="wrapper">

	<header class="header">

	</header><!-- .header-->

	<main class="content">
		<center>
			<form class="form-container" th:action="@{/registration}" method="post" th:object="${userForm}">
				<div class="form-title"><h2>Sign up Cooking Machine</h2></div>
				<div class="form-title">Name</div>
				<input type="text" class="form-field" required="true" id="user_name" placeholder="Enter your name" th:field="*{userName}" /><br />

				<div class="form-title">Login</div>
				<input type="text" class="form-field" required="true" id="login" placeholder="Enter your login" th:field="*{login}" /><br />

				<div class="form-title">Password</div>
				<input type="text" class="form-field" required="true" id="password" placeholder="Enter your password" th:field="*{password}" /><br />
				<div class="submit-container">
					<p id = "informText" th:text ="${error}"></p><br/>
					<input class="submit-button" type="submit" value="Sign up" />
				</div>
			</form>
		</center>
	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
	<span id = "log_footer">Cooking Machine Corp &copy; 2017 Odessa, Ukraine</span>
</footer><!-- .footer -->

</body>
</html>